#controlBar {
  height: 100vh;
  width: 30vw;
  float: left;
}

#controls {
  border: 1px solid black;
  float: left;
  position: fixed;
  width: inherit;
  top: 0;
  left: 0;
}

.title {
  background-color: #F2F0EB;
  padding: 10px 0 30px 0;
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

#logo {
  width: inherit;
  height: auto;
  float: none;
}

.form {
  /* width: inherit;
  height: 50vh; */
  background-color: #006241;
  padding-top: 15px;
  padding-bottom: 15px;
  /* text-align: justify; */
}

.formContent {
  /* padding-left: 3vw; */
  text-align: center;
}

.info {
  background-color: #D4E9E2;
  text-align: center;
}

#infoText {
  padding-left: 3vw;
}

#infoMug {
  width: 80px;
  padding-left: 2vw;
}

#cardArea {
  width: 68vw;
  height: auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}

#colorCrazy {
  width: 68vw;
  height: auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  background-color: rgb(255,255,255);
  animation-name: colorchange;
  animation-duration: 11s;
  animation-delay: 0s;
  animation-iteration-count: infinite;
}
  @keyframes colorchange{
      0%{background-color: #f4e749;}
      10%{background-color: #60bbf4;}
      20%{background-color: aqua;}
      30%{background-color: #7d42dd;}
      40%{background-color: #e5903a;}
      50%{background-color: #a58828;}
      60%{background-color: #bc3bbc;}
      70%{background-color: #164a16;}
      80%{background-color: #d94646;}
      90%{background-color: #b96c52;}
      100%{background-color: #bcef32;}
}

.coffeeCard {
  height: 100%;
  width: 100%;
}

.coffeeCardImage {
  width: 100%;
  height: 100%;
  align-content: center;
  text-align: center;
  position: relative;
  top: 0;
  left: 0;
  z-index: 1;
}

.coffeeInfo {
  width: auto;
  height: auto;
  align-content: center;
  text-align: center;
  position: relative;
  top: 0;
  left: 0;
  background-color: rgb(255, 255, 255, .8);
  z-index: 5;
}

.noInfo {
  width: auto;
  height: auto;
  align-content: center;
  text-align: center;
  position: relative;
  top: 0;
  left: 0;
  opacity: 0;
  z-index: 5;
}

h2 {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: white;
}

h3 {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h4 {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  float: left;
}

h5 {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.favButton {
  height: 30px;
  width: 30px;
  color: red;
  background-color: white;
}


/* dark mode notes
#1E3932
  card area background-color
  White text
  button colors */

  /* #00754a
    form background color */

    /* #000
      #info */

.red {
  background-color: red;
}

.blue {
  background-color: blue;
  border: solid 1px #FFF;
}
